In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Pima_Indian_diabetes.csv")
df.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.000000,72.000000,35.0,0.0,33.600000,0.627,50.000000,1
1,1.0,85.000000,66.000000,29.0,0.0,26.600000,0.351,31.000000,0
2,8.0,183.000000,64.000000,0.0,0.0,23.300000,0.672,32.000000,1
3,1.0,89.000000,66.000000,23.0,94.0,19.179925,0.167,21.000000,0
4,0.0,137.000000,40.000000,35.0,168.0,43.100000,2.288,33.000000,1
5,5.0,116.000000,74.000000,0.0,0.0,25.600000,0.201,30.000000,0
6,3.0,78.000000,43.869346,32.0,88.0,31.000000,0.248,26.000000,1
7,10.0,115.000000,0.000000,0.0,0.0,35.300000,0.134,29.000000,0
8,2.0,197.000000,70.000000,45.0,543.0,30.500000,0.158,NaN,1
9,8.0,125.000000,96.000000,NaN,0.0,0.000000,0.232,68.636341,1
10,4.0,110.000000,92.000000,0.0,0.0,37.600000,0.191,30.000000,0
11,10.0,168.000000,74.000000,0.0,0.0,38.000000,0.537,34.000000,1
12,10.0,139.000000,75.828903,0.0,0.0,27.100000,1.441,57.000000,0
13,1.0,189.000000,60.000000,23.0,846.0,30.100000,0.398,59.000000,1
14,5.0,146.526788,72.000000,19.0,175.0,25.800000,0.587,51.000000,1
15,7.0,100.000000,0.000000,0.0,0.0,30.000000,0.484,32.000000,1
16,0.0,118.000000,84.000000,47.0,230.0,45.800000,0.551,31.000000,1
17,7.0,107.000000,74.000000,0.0,0.0,29.600000,0.254,31.000000,1
18,NaN,103.000000,30.000000,38.0,83.0,43.300000,0.183,33.000000,0
19,1.0,115.000000,70.000000,30.0,96.0,34.600000,0.529,32.000000,1